@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

/* PAGE SETTINGS
---------------------------------- */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #0563C1;
}

a:active {
  color: blue;
}

h1, h2, p, li, th, figcaption {
  letter-spacing: normal;
  line-height: normal;
  word-spacing: normal;
  text-indent: 0;
  color: #0A1829;
}

h1 {
  font-family: 'Montserrat', system-ui;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-family: 'Cairo', system-ui;
  font-size: 1.25rem;
  font-weight: bold;
}

p, li, th, legend, label, input, textarea {
  font-family: 'Nunito Sans', system-ui;
  font-size: 1rem;
}

th {
  font-weight: normal;
}

.h1-style {
  font-family: 'Montserrat', system-ui;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

figcaption {
  font-family: 'Nunito Sans', system-ui;
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
}

#cookie {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  background-color: #6B7332;
  opacity: 50%;
  padding: 16px;
}

/* PC
---------------------------------- */
@media screen and (min-width: 1280px) {

  /* HEADER
  ---------------------------------- */
  header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    padding: 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  }

  #mobile-menu {
    display: none;
  }

  #logo-header {
    display: flex;
    align-items: center;
  }

  #page-name {
    display: none;
  }

  #logo-header img {
    vertical-align: bottom;
  }

  #logo-header p {
    height: 100%;
  }

  #logo-header > p > a {
    font-size: 1rem;
    color: #A36650;
    margin-left: 16px;
    text-decoration: none;
    vertical-align: middle;
  }
  
  .logo {
    height: 32px;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 714px;
    list-style-type: none;
  }

  .nav-tab {
    height: 32px;
    border-bottom: transparent solid 3px;
  }

  .nav-tab a {    
    font-family: 'Cairo', system-ui;    
    font-size: 1rem;
    color: #0A1829;
    text-decoration: none;
    padding: 0 16px;
  }

  .nav-tab:hover {
    border-color: #8C8988;
  }

  #call-to-action {
    background-color: #6B7332;
    border-radius: 4px;
  }

  #call-to-action a {
    color: white;
  }

  #call-to-action:hover {
    background-color: #8C8988;
  }

  #call-to-action-current {
    border-color: #A36650;
  }

  #call-to-action-current:hover {
    border-color: #8C8988;
  }

  #current-page {
    border-color: #A36650;
  }

  #current-page:hover {
    border-color: #8C8988;
  }  

  #contact-icon-parent {
    display: none;
  }

  #close-icon-parent {
    display: none;
  }

  /* CONTENT
  ---------------------------------- */
  #content {
    z-index: 1;
  }

  #content p::first-letter {
    text-transform: uppercase;
  }

  #banner {
    position: relative;
    width: 100%;
  }

  #image-banner {
    width: 100%;
  }

  #heading-banner {
    position: absolute;
    bottom: 48px;
    right: 64px;
    width: fit-content;
    color: white;
  }

  #heading-banner span {
    display: block;
  }

  #p-intro {
    width: 480px;
    margin: 48px auto;
  }

  #p-contact {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }

  #heading-1 {
    text-align: center;
    margin: 32px 0 24px 0;
  }

  #content-tips {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }

  aside {
    float: right;
    position: sticky;
    top: 35%;
    order: 1;
    width: fit-content;
    height: 100%;
    padding: 32px 32px 32px 48px;
    margin: 0 32px;
    border-color: #A36650;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
  }
  
  aside h2 {
    margin-bottom: 24px;
  }

  .content-container {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  .content-container-community {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }

  .content-container-community h2 {
    width: fit-content;
    margin-bottom: 24px;
  }

  .content-community {
    display: flex;
  }

  #content-tips {
    margin-left: 32px;
  }

  #content-tips .content-image {
    max-width: 395px;
    max-height: 300px;
  }

  #content-tips .content-text {
    max-width: 480px;
  }

  .content-container-stores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }

  .content-container-stores h2 {
    width: fit-content;
    margin-bottom: 24px;
  }

  .content-stores {
    display: flex;
  }

  .content-image {
    width: 480px;
    height: 300px;
    object-fit: cover;
  }

  .community-image {
    width: 600px;
    height: 360px;
  }

  .stores-image {
    width: 395px;
    height: 300px;
  }

  figcaption span {
    display: block;
  }

  .store-link {
    font-size: 1rem;
    font-style: normal;
  }

  .content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 300px;
    margin-left: 48px;
  }

  .content-text span {
    display: block;
  }

  .content-text ul {
    padding-left: 24px;
    padding-bottom: 16px;
  }

  .community-text {
    height: 360px;
  }

  #paragraph-1 {
    margin-bottom: 8px;
  }

  .content-text h2 {
    margin-bottom: 16px;
  }

  #video-conteiner {
    margin: 0 32px 32px 32px;
  }

  #video-text {
    margin-bottom: 32px;
  }

  #video{
    width: 100%;
  }

  #heading-2 {
    text-align: center;
    margin-bottom: 32px;
  }

  #table {
    padding: 0 32px 32px 32px;
  }

  #table-mobile {
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead tr th {
    background-color: #6B7332;
    color: white;
    font-weight: bold;
  }

  th {
    text-align: left;
    padding: 8px;
  }

  th a {
    color: #0A1829;
  }

  tr:nth-child(even) {
    background-color: #CFF;
  }

  tr:nth-child(odd) {
    background-color: #FFF;
  }

  th:nth-child(even) {
    border-left: 1px solid #6B7332;
    border-right: 1px solid #6B7332;
  }

  thead tr th:nth-child(even) {
    border-left: 1px solid white;
    border-right: 1px solid white;
  }

  #contacts {
    display: flex;
    justify-content: center;
    margin: 32px 0;
  }

  #contact-form {
    order: 1;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #BAC2D9;
    border-radius: 4px;
  }
  
  legend {
    padding: 0 8px;
  }

  #our-contacts-form {
    margin-right: 32px;
  }

  #our-contacts-form fieldset {
    padding-right: 32px;
  }

  #our-contacts-form span {
    display: block;
  }

  .contacts-strong {
    margin-top: 32px;
  }

  .green-text span {
    color: #6B7332;
  }

  #mrs, #other {
    margin-left: 16px;
  }

  label[for='name'], label[for='email'], label[for='phone'], label[for='message'] {
    margin-top: 16px;
  }

  input[type='radio'] {
    accent-color: #6B7332;
  }

  input, textarea {
    border: inset 1px #6B7332;
    padding: 6px;
  }

  input[type='submit'] {
    width: fit-content;
    margin-top: 16px;
    padding: 6px 24px;
    color: white;
    background-color: #6B7332;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  input[type='text'], input[type='email'], input[type='tel'], textarea {
    width: 286px;
  }

  textarea {
    height: 160px;
  }


  /* FOOTER
  ---------------------------------- */
  footer {
    display: flex;
    padding: 16px;
    margin-top: auto;
    background-color: #BAC2D9;
  }

  footer > * {
    margin-right: auto;
  }

  #logo-footer {
    display: flex;
    align-items: center;
  }

  #logo-footer img {
    vertical-align: bottom;
  }

  #logo-footer p {
    height: 100%;
  }

  #logo-footer > p > a {
    font-size: 0.75rem;
    color: #0A1829;
    margin-left: 8px;
    text-decoration: none;
    vertical-align: middle;
  }

  #copyright {
    font-size: 0.75em;
    margin-top: 24px;
  }

  .nav-footer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .nav-footer > li > a {
    font-family: 'Cairo', system-ui;    
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #0A1829;
  }

}

/* TABLET
---------------------------------- */
@media screen and (min-width: 481px) and (max-width: 1279px) {

  /* PAGE SETTINGS
  ---------------------------------- */
  h1, .h1-style {
    font-size: 1.25rem;
  }

  /* HEADER
  ---------------------------------- */
  header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    padding: 0 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  }

  #mobile-menu {
    display: none;
  }

  #logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
  }

  #page-name {
    display: none;
  }

  #logo-header img {
    vertical-align: bottom;
  }

  #logo-header p {
    height: 100%;
  }

  #logo-header > p > a {
    font-size: 1rem;
    color: #A36650;
    margin-left: 16px;
    text-decoration: none;
    vertical-align: middle;
  }
  
  .logo {
    height: 32px;
  }

  #menu-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
  }

  .nav-tab {
    height: 32px;
    min-width: fit-content;
    border-bottom: transparent solid 3px;
    margin-bottom: 16px;
  }

  .nav-tab a {    
    font-family: 'Cairo', system-ui;    
    font-size: 1rem;
    color: #0A1829;
    text-decoration: none;
    padding: 0 16px;
  }

  .nav-tab:hover {
    border-color: #8C8988;
  }

  #call-to-action {
    background-color: #6B7332;
    border-radius: 4px;
  }

  #call-to-action a {
    color: white;
  }

  #call-to-action:hover {
    background-color: #8C8988;
  }

  #call-to-action-current {
    border-color: #A36650;
  }

  #call-to-action-current:hover {
    border-color: #8C8988;
  }

  #current-page {
    border-color: #A36650;
  }

  #current-page:hover {
    border-color: #8C8988;
  }

  #contact-icon-parent {
    display: none;
  }

  #close-icon-parent {
    display: none;
  }

  /* CONTENT
  ---------------------------------- */
  #content {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .content-contacts {
    align-items: center;
  }

  #banner {
    position: relative;
    width: 100%;
  }

  #image-banner {
    width: 100%;
  }

  #heading-banner {
    position: absolute;
    bottom: 48px;
    right: 64px;
    width: fit-content;
    color: white;
  }

  #heading-banner span {
    display: block;
  }

  #intro-text {
    display: flex;
    justify-content: center;
  }

  #p-intro {
    max-width: 480px;
    margin: 48px 16px;
  }

  #p-contact {
    max-width: fit-content;
    margin: 0 16px;
    text-align: center;
  }

  #heading-1 {
    text-align: center;
    margin: 32px 0 24px 0;
  }

  #heading-1.h1-stores {
    margin: 32px 16px 24px 16px;
  }

  #content-tips {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }

  aside {
    width: fit-content;
    height: 100%;
    padding: 32px 32px 32px 48px;
    margin: 0 auto 48px auto;
    border-color: #A36650;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
  }
  
  aside h2 {
    margin-bottom: 24px;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
  }

  .content-container-community {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
  }

  .content-container-community h2 {
    margin-bottom: 24px;
  }

  .figure {
    width: 100%;
    max-width: 480px;
  }

  .content-container-stores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
  }

  .content-container-stores h2 {
    margin-bottom: 16px;
  }

  .content-image {
    width: 100%;
    max-width: 480px;
    max-height: 300px;
    object-fit: cover;
  }

  #content-tips > section > img {
    max-height: 350px;
    margin: 0 16px 24px 16px;
  }

  .homepage-image {
    margin-bottom: 32px;
  }

  figcaption span {
    display: block;
  }

  .store-link {
    font-size: 1rem;
    font-style: normal;
  }

  .content-stores .content-text {
    margin-top: 24px;
  }

  .content-text {
    max-width: 480px;
    margin-bottom: 48px;
  }

  .content-text span {
    display: block;
  }

  .content-text ul {
    padding: 24px 0 16px 24px;
  }

  .community-text {
    margin-bottom: 40px;
  }

  #paragraph-1 {
    margin-bottom: 8px;
  }

  .content-text h2 {
    margin-bottom: 16px;
  }

  #text-tips h2 {
    margin-bottom: 8px;
  }

  #video-conteiner {
    margin: 0 16px 32px 16px;
  }

  #video-text {
    margin-bottom: 32px;
  }

  #video{
    width: 100%;
  }

  #heading-2 {
    text-align: center;
    margin-bottom: 32px;
  }

  #table {
    padding: 0 16px 32px 16px;
  }

  #table-mobile {
    display: none;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead tr th {
    background-color: #6B7332;
    color: white;
    font-weight: bold;
  }

  th {
    text-align: left;
    padding: 8px;
  }

  th a {
    color: #0A1829;
  }

  tr:nth-child(even) {
    background-color: #D9D9D9;
  }

  tr:nth-child(odd) {
    background-color: #FFF;
  }

  th:nth-child(even) {
    border-left: 1px solid #6B7332;
    border-right: 1px solid #6B7332;
  }

  thead tr th:nth-child(even) {
    border-left: 1px solid white;
    border-right: 1px solid white;
  }

  #contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 16px;
  }

  legend {
    padding: 0 8px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #BAC2D9;
    border-radius: 4px;
  }

  #contact-form {
    max-width: 332px;
    margin-bottom: 32px;
  }

  #our-contacts-form {
    width: 332px;
    max-width: 332px;
  }

  #our-contacts-form fieldset {
    padding-right: 32px;
  }

  #our-contacts-form span {
    display: block;
  }

  .contacts-strong {
    margin-top: 32px;
  }

  .green-text span {
    color: #6B7332;
  }

  #mrs, #other {
    margin-left: 16px;
  }

  label[for='name'], label[for='email'], label[for='phone'], label[for='message'] {
    margin-top: 16px;
  }

  input[type='radio'] {
    accent-color: #6B7332;
  }

  input, textarea {
    border: inset 1px #6B7332;
    padding: 6px;
  }

  input[type='submit'] {
    width: fit-content;
    margin-top: 16px;
    padding: 6px 24px;
    color: white;
    background-color: #6B7332;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  input[type='text'], input[type='email'], input[type='tel'], textarea {
    width: 286px;
    max-width: 286px;
  }

  textarea {
    height: 160px;
  }

  /* FOOTER
  ---------------------------------- */
  footer {
    display: flex;
    padding: 16px;
    margin-top: auto;
    background-color: #BAC2D9;
  }

  footer > * {
    margin-right: auto;
  }

  #logo-footer {
    display: flex;
    align-items: center;
  }

  #logo-footer img {
    vertical-align: bottom;
  }

  #logo-footer p {
    height: 100%;
  }

  #logo-footer > p > a {
    font-size: 0.75rem;
    color: #0A1829;
    margin-left: 8px;
    text-decoration: none;
    vertical-align: middle;
  }

  #copyright {
    font-size: 0.75em;
    margin-top: 24px;
  }

  .nav-footer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .nav-footer > li > a {
    font-family: 'Cairo', system-ui;    
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #0A1829;
  }

}

/* MOBILE
---------------------------------- */
@media screen and (max-width: 480px) {

  /* PAGE SETTINGS
  ---------------------------------- */
  h1, .h1-style {
    font-size: 1.25rem;
  }

  /* HEADER
  ---------------------------------- */
  header {
    display: flex;
    grid-template: min-content auto / auto auto;
    justify-items: flex-start;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    padding: 0 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  }

  #mobile-menu {
    margin-top: 16px;
  }

  #mobile-menu-links {
    display: none;
    flex-direction: column;
    list-style-type: none;    
    margin-left: 16px;
  }

  #mobile-menu-links > li {
    margin-bottom: 16px;
  }

  #mobile-menu-links > li > a {
    font-family: 'Cairo', system-ui;    
    font-size: 1rem;
    color: #0A1829;
    text-decoration: none;    
  }

  #logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
  }

  #logo-header img {
    vertical-align: bottom;
  }

  .logo {
    height: 32px;
    margin-right: 16px;
  }

  #website-name {
    display: none;
  }

  #page-name {
    height: 100%;
  }

  #page-name a {
    font-family: 'Cairo', system-ui;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    color: #0A1829;
    text-decoration: none;
    text-transform: none;
  }

  #menu {
    display: none;
  }

  #menu-icon {
    height: 32px;
    margin-right: 16px;
  }

  #contact-icon-parent {
    margin-top: 16px;
    margin-left: auto;
  }

  #close-icon-parent {
    display: none;
    margin-top: 16px;
    margin-left: auto;
  }

  /* CONTENT
  ---------------------------------- */
  #content {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .content-contacts {
    align-items: center;
    padding: 0 16px;
  }

  #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #image-banner {
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: 45% 0;
  }

  #heading-banner {
    text-align: center;
    margin: 16px;
  }

  #heading-banner span {
    display: block;
  }

  #p-intro {
    margin: 0 16px 32px 16px;
  }

  #p-contact {
    max-width: fit-content;
    text-align: center;
  }

  #heading-1 {
    text-align: center;
    margin: 32px 16px 24px 16px;
  }

  #heading-1.h1-stores {
    margin: 32px 16px 24px 16px;
  }

  #content-tips {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }

  .tips {
    padding: 0 16px;
  }

  aside {
    width: fit-content;
    padding: 32px 32px 32px 48px;
    margin: 0 auto 48px auto;
    border-color: #A36650;
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
  }
  
  aside h2 {
    margin: 0 auto 24px auto;
  }

  ol {
    width: fit-content;
    margin: 0 auto;
  }

  .content-container {
    display: flex;
    flex-direction: column; 
    margin: 0 16px;
  }

  .container-tips {
    margin: 0;
  }

  .content-container-community {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
  }

  .content-container-community h2 {
    margin-bottom: 24px;
  }

  .content-container-stores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 16px;
  }

  .content-container-stores h2 {
    margin-bottom: 16px;
  }

  figcaption span {
    display: block;
  }

  .store-link {
    font-size: 1rem;
    font-style: normal;
  }

  .content-stores .content-text {
    margin-top: 24px;
  }

  .content-image {
    width: 100%;
    max-width: 480px;
    max-height: 300px;
    object-fit: cover;
  }

  #content-tips > section > img {
    max-width: 448px;
    max-height: 330px;
    margin-bottom: 24px;
  }

  #text-tips {
    margin-bottom: 48px;
  }

  .content-text {
    max-width: 480px;
    margin-bottom: 32px;
  }

  .content-text span {
    display: block;
  }

  .content-text ul {
    padding: 24px 0 16px 24px;
  }

  .community-text {
    margin-bottom: 40px;
  }

  #paragraph-1 {
    margin-bottom: 8px;
  }

  .content-text h2 {
    margin-bottom: 16px;
  }

  #video-conteiner {
    margin: 0 16px 32px 16px;
  }

  #video-text {
    margin-bottom: 32px;
  }

  #video{
    width: 100%;
  }

  #heading-2 {
    text-align: center;
    margin-bottom: 24px;
  }

  #table {
    display: none;
  }

  #table-mobile {    
    padding: 0 16px 32px 16px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead tr th {
    background-color: #6B7332;
    color: white;
  }

  th {
    text-align: left;
    padding: 8px;
  }

  th a {
    color: white;
  }

  #contacts {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 32px 0;
    width: 100%;
  }

  legend {
    padding: 0 8px;
    margin-left: 16px;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid #BAC2D9;
    border-radius: 4px;
  }

  #contact-form {
    width: 100%;
    margin-bottom: 32px;
  }

  #contact-form fieldset p {
    margin: 16px 16px 0 16px;
  }

  #contact-form fieldset section {
    margin-left: 16px;
    margin-top: 2px;
  }

  #our-contacts-form {
    width: 100%;
  }

  #our-contacts-form fieldset {
    padding: 16px 32px 16px 16px;
  }

  #our-contacts-form span {
    display: block;
  }

  .contacts-strong {
    margin-top: 32px;
  }

  .green-text span {
    color: #6B7332;
  }

  #mrs, #other {
    margin-left: 16px;
  }

  label[for='name'], label[for='email'], label[for='phone'], label[for='message'] {
    margin: 16px 16px 0 16px;
  }

  input[type='radio'] {
    accent-color: #6B7332;
  }

  input[type='submit'] {
    width: fit-content;
    margin: 16px;
    padding: 6px 24px;
    color: white;
    background-color: #6B7332;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  input[type='text'], input[type='email'], input[type='tel'], textarea {
    margin: 0 16px;
    border: inset 1px #6B7332;
    padding: 6px;
  }

  textarea {
    height: 160px;
  }

  /* FOOTER
  ---------------------------------- */
  footer {
    display: grid;
    grid-template: min-content auto / auto auto;
    padding: 16px;
    margin-top: auto;
    background-color: #BAC2D9;
  }

  #logo-footer {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }

  #logo-footer img {
    vertical-align: bottom;
    margin-right: 8px;
  }

  #logo-footer p {
    height: 100%;
  }

  #logo-footer > p > a {
    font-size: 0.75rem;
    color: #0A1829;
    text-decoration: none;
    vertical-align: middle;
  }

  #copyright {
    font-size: 0.75em;
    margin-top: 8px;
  }

  .nav-footer {
    order: -1;
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .nav-footer > li > a {
    font-family: 'Cairo', system-ui;    
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #0A1829;
  }
}