/* WEBSITE BACKGROUND
---------------------------------- */
body {
    background-color: lightgray;
}

/* PAGE BACKGROUND
---------------------------------- */
.page {
    position: relative;
    background-color: #199494;
    width: 744px;
    height: 1600px;
    margin: auto;
}

/* HEADER FOR PAGE
---------------------------------- */
header {
    background-color: white;
    width: 744px;
    height: 140px;
    border-bottom: 5px solid #E15714;
}

.it1b {
    margin: 10px;
    float: right;
}

/* MAIN CONTENT
---------------------------------- */
.image-with-frame {
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.frame {
    position: absolute;
    width: 304px;
    height: 400px;
    object-fit: cover;
}

.image {
    position: absolute;
    width: 254px;
    height: 350px;
    object-fit: cover;
    margin: 25px;
}

.text-info {
    font-size: 1.375em;
}

.basic-info-parent {
    position: absolute;
    right: 0px;
    width: 311px;
    height: 400px;
    margin: 30px;
    display: table;
}

.basic-info-content {
    display: table-cell;
    vertical-align: middle;
}

.text-about-me {
    font-size: 1em;
}

.about-me {
    position: absolute;
    top: 600px;
    width: 665px;
    height: 500px;
    margin-top: -16px;
    margin-left: 50px;
}

/* COMMON STYLES
---------------------------------- */
.rounded-corners {
    border-radius: 50px;
}

.text {
    color: white;
    font-family: "Istok Web";
}

.footer-text {
    color: black;
    font-family: "Istok Web";
    margin-left: 50px;
}

span {
    font-size: 1.375em;
}

/* FOOTER FOR PAGE
---------------------------------- */
footer {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 744px;
    height: fit-content;
    border-top: 5px solid #E15714;
}

video {
    width: 644px;
    margin-left: 50px;
    margin-bottom: 50px;
}